h1{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    font-size: 2.2rem;

    @media (min-width: 640px){
        font-size: 3rem;
    }
}

h2{
    font-size: 2rem;
    margin-bottom: 30px;

    @media (min-width: 640px){
        font-size: 2.5rem;
    }
}

p{
    line-height: 1.8rem;
    
    @media (min-width: 640px){
        line-height: 3rem;
        font-size: 1.2rem;
    }
}

.badge{
    font-size: 1rem;
    font-weight: 400;
}
